.header-container {
  width: 80%;
  display: flex;
  margin: 1rem auto;
  align-items: center;
}
.header-container .logo {
  width: 70px;
  height: 70px;
}
.header-container .logo img {
  width: 100%;
  height: 100%;
}
.header-container .navbar {
  margin-left: 2rem;
}
.header-container .navbar ul {
  display: flex;
  list-style: none;
}
.header-container .navbar ul a {
  padding: 0 10px;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.header-container .navbar ul a:hover {
  border-bottom: 2px solid #0182f9;
}
.header-container .navbar ul .active {
  color: #0182f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: #303030;
  color: #fff;
}
footer .container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
footer .container-footer .button button {
  background-color: transparent;
  border: 1px solid #0182f9;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem;
  color: #fff;
}
footer .container-footer .button button:hover {
  background-color: #0182f9;
}
footer .container-footer .social-ctn {
  display: flex;
  align-items: center;
  height: 35px;
}
footer .container-footer .social-ctn span {
  text-transform: uppercase;
  color: #0182f9;
}
footer .container-footer .social-ctn .social {
  padding-left: 1rem;
}
footer .container-footer .social-ctn .social img {
  width: 20px;
}
footer .container-footer .social-ctn .social img:hover {
  width: 25px;
}

.homepage {
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  border-bottom: 30px solid #0182f9;
  padding: 2rem 0;
}
.homepage .main-ctn {
  width: 80%;
  margin: 0 auto;
}
.homepage .main-ctn .cards {
  display: flex;
  flex-wrap: wrap;
}
.homepage .main-ctn .cards .card {
  width: 16.6666666667%;
  padding: 0.5rem 1rem;
}
.homepage .main-ctn .cards .card a {
  color: #fff;
  text-decoration: none;
}
.homepage .main-ctn .cards .card a h4 {
  font-size: 16px;
  padding: 0.2rem 0;
}

.card-info .billboard {
  width: 100%;
  height: 400px;
  border-bottom: 40px solid #0182f9;
  position: relative;
}
.card-info .billboard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-info .billboard .img-ctn {
  width: 150px;
  height: 250px;
  position: absolute;
  bottom: -15px;
  left: 25%;
}
.card-info .billboard .img-ctn img {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-info .billboard .img-ctn .type {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background-color: #00a9d9;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: lighter;
  padding: 3px;
}
.card-info .billboard .img-ctn .view {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background-color: #00a9d9;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: lighter;
  padding: 3px;
}
.card-info .info-section {
  width: 50%;
  margin: 50px auto;
  display: flex;
}
.card-info .info-section .info-ctn {
  width: 80%;
}
.card-info .info-section .info-ctn .title {
  color: #16435f;
  text-transform: uppercase;
  font-size: 25px;
}
.card-info .info-section .info-ctn .buy-box {
  display: flex;
  width: 100%;
  margin-top: 30px;
  background-color: #55b959;
  color: #fff;
  font-size: 13px;
  align-items: center;
  padding: 1rem 1rem;
}
.card-info .info-section .info-ctn .buy-box .buy-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card-info .info-section .info-ctn .buy-box .buy-info .price {
  font-size: 15px;
}
.card-info .info-section .info-ctn .buy-box .btn-ctn {
  width: 30%;
  text-align: center;
}
.card-info .info-section .info-ctn .text-ctn {
  margin-top: 20px;
}
.card-info .info-section .info-ctn .text-ctn p {
  color: #aa9fa1;
  font-size: 14px;
  line-height: 25px;
}
.card-info .info-section .adv-ctn {
  width: 20%;
  margin-left: 40px;
  position: relative;
}
.card-info .info-section .adv-ctn .img-ctn {
  width: 250px;
  height: 200px;
  position: absolute;
  bottom: 20px;
}
.card-info .info-section .adv-ctn .img-ctn img {
  width: 100%;
  height: 100%;
}
.card-info .info-section .adv-ctn .img-ctn .adv-text {
  text-transform: uppercase;
  font-size: 14px;
  color: #6f778e;
  position: absolute;
  right: 0;
  top: -20px;
}
