footer{
    width: 100%;
    background-color: $black-footer;
    color: $primary-color;
    margin-top: 2rem;
    .container-footer  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        .button{
            button{
                background-color: transparent;
                border: 1px solid $second-color;
                cursor: pointer;
                text-transform: uppercase;
                padding: 0.5rem;
                color: $primary-color;
                &:hover{
                    background-color: $second-color;
                }
            }
        }
        .social-ctn{
            display:  flex;
            align-items: center;
            height: 35px;
            .social{
                padding-left: 1rem;
                img{
                    width: 20px;
                    &:hover{
                        width: 25px;
                    }
                }
            }
        }
    }
}